@import '../variables/*.styl'

animation_ion()
    .box::before {
      content: '';
      position: absolute;
      inset: -5px;
      box-shadow: 0 0 0 15px var(--color-border);
      z-index: -1;
      animation: line-ion 4s ease infinite;
    }
    .box::after {
      content: '';
      position: absolute;
      inset: -5px;
      z-index: -1;
      filter: blur(20px);
      animation: line-ion 4s ease infinite;
    }
    .box:nth-child(2)::after,
    .box:nth-child(2)::before {
      animation: line-ion 4s ease infinite;
    }
    @keyframes line-ion {
      from {
        background: linear-gradient(45deg, ion-dark_color-1, var(--color-border), var(--color-border), ion-dark_color-1);
      }
      to {
        background: linear-gradient(-45deg, ion-dakr_color-2, var(--color-border), var(--color-border), ion-dakr_color-2);
      }
    }

  
    
    