.tab-list__app-open-meteo {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 25%);
  gap: 3%;
  width: 100%;
  cursor: pointer;
}
.tab-item__app-open-meteo__1,
.tab-item__app-open-meteo__2,
.tab-item__app-open-meteo__3 {
  flex-grow: 1;
  width: 100%;
  padding: 2%;
  transition: width 0.5s;
  border: 1px solid #000;
}
.tab-item__app-open-meteo__1:is(.is-active) {
  background: #16b6f2;
}
.tab-item__app-open-meteo__2:is(.is-active) {
  background-color: #3ed45f;
}
.tab-item__app-open-meteo__3:is(.is-active) {
  background-color: #1745ed;
}
.content-list__app-open-meteo .is-active {
  display: block;
}
.content-list__app-open-meteo {
  width: 100%;
  border: 1px solid #000;
}
.content-item__app-open-meteo__1,
.content-item__app-open-meteo__2,
.content-item__app-open-meteo__3 {
  display: none;
  height: 80dvh;
  line-height: 200px;
  background: #16b6f2;
}
.content-item__app-open-meteo__2 {
  background-color: #3ed45f;
}
.content-item__app-open-meteo__3 {
  background-color: #1745ed;
}
li {
  list-style-type: none;
}
.wrapper__app-open-meteo {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
  padding: 5px;
  border: 1px solid #000;
  text-align: center;
  background-color: #f1d59c;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: a1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
body {
  display: grid;
  justify-content: center;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  user-select: none;
  background-color: #67f2bd;
  padding: 10px 30px;
  font-size: 30px;
}
