@import "../variables/*.styl"

buttons_style()
    position absolute
    left 98%
    top 3%
    transform: translate(-100%)
    color: inherit
    background-color inherit
    cursor pointer
    font-size 1.2rem
    padding 7px 7px 7px 10px
    letter-spacing .3rem
    z-index 100
    &:hover
        box-shadow inset 0 0 0 2px frame-dark_border_color



