@import './animation/*.styl'
@import './mixins/*.styl'
@import './variables/*.styl'

body 
    background color-background
    .box
        // display flex
        // flex-direction column
        position-center()
        //  background @color
        //  font-size font-size-text
        //  color color-text
        //  border border-size 
        //  padding text-padding
        //  flex-wrap: nowrap
    .box__container-text
        display flex
        justify-content center
        transform-rotateY(360,0.9)
        animation_transition_delay(10)

    

