@import './animation/*.styl'
@import './mixins/*.styl'
@import './variables/*.styl'


normalize-css()

body 
    animation_ion()
    // background color-background
    body-font()
    color rgb(217, 205, 205)
    text-shadow: -3px 0px 19px #070c23, 0 0 1em #00ccff;
    // text-shadow: 0 0 0 20px #070c23,0 0 1em blue, 0 0 0.2em blue;
   .box
        position-center()
        text-align center
        //  background @color
        //  font-size font-size-text
        //  color color-text
        //  border border-size 
        //  padding text-padding
        //  flex-wrap: nowrap
    .box__container-text
        font-weight: 700;
        display flex
        justify-content center
        transform-rotateY(360,0.9)
        animation_transition_delay(10)
        div  
            font-size 3.5rem;
        

    

