@import './animation/*.styl'
@import './mixins/*.styl'
@import './variables/*.styl'


normalize-css()

body 
    position-center()
    min-height: 100vh;
    background-color: #523634;
    color text-dark_color
    animation_ion()
    body-font()
   .box
        position: relative;
        background-color: #523634;
        width 70%
        padding 10px 
    .box__container-text
        font-weight: 700;
        display flex
        justify-content center
        transform-rotateY(360,0.9)
        animation_transition_delay(10)
        .latter
            font-size 3rem;
    .some-text__lorem-ipsum
       text-align center