include ./components/container_text__split_string.pug

mixin body-constructor()
    body
        .box
            +container-text__split-string('Dark Mode','box')
            p(class="some-text__lorem-ipsum")
                |Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                |Magni impedit sapiente placeat porro voluptate rem, at enim 
                |consequuntur maxime deserunt omnis iste recusandae vero vitae 
                |ullam aperiam reprehenderit inventore eaque.
            
