@import "./wrapper/*.styl"

body()  
    body 
        display grid
        justify-content center
        body-font()
        height 100%
        user-select none
        background-color #2c7580
        padding 10px 30px         
        font-size 30px

