@import "./tabs/*.styl"
@import "./content/*.styl"
@import "../../variables/*.styl"

li 
    list-style-type none
.wrapper__app-open-meteo 
    width 90vw
    display flex
    flex-wrap wrap
    gap 10px 0
    padding 5px
    border 1px solid black
    text-align center
    background-color #F1D59C

