@import "../../../variables/*.styl"

.content-item__app-open-meteo__1,
.content-item__app-open-meteo__2,
.content-item__app-open-meteo__3 
    display none
    height 80dvh
    line-height 200px
    background content_current

.content-item__app-open-meteo__2
    background-color content_minutely

.content-item__app-open-meteo__3 
    background-color content_hourly

